mixin sVideo(data)
	// start sVideo
	+b.sVideo.section#sVideo&attributes(attributes)
		+e.link(href="https://www.youtube.com/watch?v=_osKm4gGOFo&list=PLBSdPE852lAQRZILHAI6C9RBaeKHp4P6X&index=114" data-fancybox="video")
			img(loading="lazy" src="img/@2x/sVideo-bg.png" alt="")
			+e.btn
				span.circle
				span.circle
				span.circle
				span.circle
				img(loading="lazy" src='img/svg/play-btn.svg' alt="")

	// end sVideo