mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		+b.gray-txt Обо мне
		+e.container.container
			+e.row.row.align-items-end
				+e.title-col.col-lg-6.col-xl-auto.text-center
					+b.section-title
						h2 Обо мне
						p Приветствую всех! Дмитрий Вишневецкий, 39 лет. 3&#160;страны,&#160;3&#160;столицы. Беларус. Космополит.
					+e.box.d-none.d-lg-block
						p Вино не имеет границ и политических пристрастий.
						p Много лет я учился строить и создавать бизнесы и команды, достигать цели. Осмысление пути привело к желанию сфокусироваться на жизненном балансе и заниматься работой, имеющей долгосрочные перспективы. Создать то, что будет обладать ценностью и после меня.
						p Так я увлекся вином и виноделием, купил земельный участок под виноградники, привлек высококлассных специалистов.
				+e.portrait-col.col-lg-6.col-xl-auto
					+e.portrait
						img(loading="lazy" src='img/@2x/portrait.png' alt="")
				.col-12.d-lg-none
					+e.box
						p Вино не имеет границ и политических пристрастий.
						p Много лет я учился строить и создавать бизнесы и команды, достигать цели. Осмысление пути привело к желанию сфокусироваться на жизненном балансе и заниматься работой, имеющей долгосрочные перспективы. Создать то, что будет обладать ценностью и после меня.
						p Так я увлекся вином и виноделием, купил земельный участок под виноградники, привлек высококлассных специалистов.
	// end sAbout