mixin allcss()
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

	//<link rel="preconnect" href="https://unpkg.com">
	//<link rel="preconnect" href="https://cdn.jsdelivr.net">
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js")
	script(src="libs/swiper/swiper-bundle.min.js")
	script(src="libs/inputmask/inputmask.min.js")
	//-
	//-script(src="libs/nanogram.js/nanogram.iife.js")
	//script(src="libs/nanogram.js/nanogram.esm.js")
	//script(src="libs/nanogram.js/nanogram.cjs.js")
	//<script src="https://unpkg.com/nanogram.js@3.0.3/dist/nanogram.iife.js"></script>

	//-jsx
	//-<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	//-react
	//-
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	<script src="js/react-cart.js"></script>
	script(src="js/libs.js")
	script(src="js/common.js")